/* Importing Google fonts */ 

@import url("https://fonts.googleapis.com/css2?family=Libre+Baskerville:wght@400;700&family=Open+Sans:wght@400;600;700&display=swap");


/* Importing all components file */

@import url("components/container.css");
@import url("components/button.css");
@import url("components/banner.css");
@import url("components/card.css");
/* General style rules for fonts and colors */

body {
	font-family: "Open Sans", sans-serif;
	font-size: 18px;
	margin: 0px ;
	line-height: 56px;
}

h1,h2 {
	font-weight: 600;
}


h3 {
	font-family: "Libre Baskerville", serif;
	letter-spacing: 1px;
}


a {
	text-decoration: none;
}